.onclick, .submit {
	float: left;
    width: 100%;
    background-color: #1666ba;
    margin: auto;
	margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
	border: none;
	border-radius: 20px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
}

.onclick:hover, .submit:hover{
    background-color: #0053e3;
	border-radius: 0px;
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.ajax {
	float: none;
    width: 100%;
    background-color: #42d7f5;
    margin: auto;
	margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
	border: none;
	border-radius: 20px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
}

.ajax:hover{
    background-color: #00c8ff;
	border-radius: 0px;
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

/* .ajax:visited{ */
/*     background-color: #00c8ff; */
/* 	border-radius: 0px; */
/* 	-webkit-transition: all 1s ease 0s; */
/*     -moz-transition: all 1s ease 0s; */
/*     -ms-transition: all 1s ease 0s; */
/*     -o-transition: all 1s ease 0s; */
/*     transition: all 1s ease 0s; */
/* } */

.ajax:disabled{
	background-color: #00a1b3;
    border-radius: 0px;
	-webkit-transition: all 1.0s ease 0s;
    -moz-transition: all 1.0s ease 0s;
    -ms-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
    transition: all 1.0s ease 0s;
}

.account-popup > form .cfield input:disabled{
    background-color: #dbdbdb;
    border-radius: 0px;
	-webkit-transition: all 1.0s ease 0s;
    -moz-transition: all 1.0s ease 0s;
    -ms-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
    transition: all 1.0s ease 0s;
}

.checkInput {
	font-weight: 600;
	margin-bottom: 20px;
	-webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.account-popup select {
	float: left;
    width: 100%;
    height: 61px;
    padding: 0 15px;
    border: 2px solid #e8ecec;
    font-size: 13px !important;
    color: #888888;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.checkFont {
	display: block;
	margin: auto;
	color: #ffffff;
	height: 0px;
	-webkit-transition: all 1.0s ease 0s;
    -moz-transition: all 1.0s ease 0s;
    -ms-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
    transition: all 1.0s ease 0s;
}

.account-popup p {
	text-align: left;
}

.withdrawal-submit {
    background-color: #ff1818;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

.withdrawal-submit:hover {
    background-color: #ffffff;
    color: #ff1818;
    border: 2px solid #ff1818;
    border-radius: 0px;
    
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.withdrawal-submit:active {
    background-color: #ffffff;
    color: #ff1818;
    border: 2px solid #ff1818;
    border-radius: 0px;
    
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}
