@font-face {
    font-family: 'Noto Sans KR';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@900&display=swap');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Noto Sans KR', sans-serif !important;
}

.onclick, .submit {
	float: left;
    width: 100%;
    background-color: #1666ba;
    margin: auto;
	margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
	border: none;
	border-radius: 15px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.onclick:hover, .submit:hover{
    background-color: #57b3ff;
	
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    
}

.onclick:active, .submit:active {
	box-shadow: 0px 5px 5px rgb(0 0 0 / 40%);
	transform: scale(1.015, 1.015);
    transition: all 0.02s ease 0s;
}

.onclick:disabled, .submit:disabled {
	background-color: #607375;
	color: #adadad;
    pointer-events: none;
	-webkit-transition: all 1.0s ease 0s;
    -moz-transition: all 1.0s ease 0s;
    -ms-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
    transition: all 1.0s ease 0s;
}

/* linear-gradient( to right, #ffffff, #1666ba ); */

/* .submit:after { */
/* 	content: "1234"; */
/*  	width: 150%; */
/*     height: 100%; */
/*     display: block; */
/*     position: absolute; */
/*     left: 50%; */
/*     z-index:100; */
/*     color:#000000; */
    
/* } */

/* .onclick:hover, .submit:hover .submit:after{ */
/* 	background-color: #000000; */
	
/* 	content: "2345"; */
/*     z-index: -1; */
/*     width: 150%; */
/*     height: 100%; */
/*     display: block; */
/*     position: absolute; */
/*     top: 0; */
/*     left: 50%; */
/*     transform: scaleX(0); */
/*     transition: all 0.5s ease 0s; */
/* } */

.block.no-padding h3 {
	color:#ffffff;
}
.block.no-padding{
	position: relative;
    margin-top: 0px !important;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(45deg, rgb(20 200 255) 0%, rgb(0 160 233) 20%,rgb(11 147 226) 44%,rgba(20,31,114,1) 100%);
}
.block.no-padding:before{
	content: "";
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
    background-image: url(../../customimages/top-bar6.jpg);
    background-size: 25%;
    background-position: 35% 40%;
    opacity: 0.15;
    filter: brightness(100%);
}

.ajax {
	float: none;
    width: 100%;
    background-color: #42d7f5;
    margin: auto;
	margin-bottom: 30px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
	border: none;
	border-radius: 15px;
	padding-top: 16px;
	padding-bottom: 16px;
	text-align: center;
	
	-webkit-transition: all 1.0s ease 0s;
    -moz-transition: all 1.0s ease 0s;
    -ms-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
    transition: all 1.0s ease 0s;
	
}

.ajax:hover{
    background-color: #00c8ff;
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.ajax:active {
	box-shadow: 0px 5px 5px rgb(0 0 0 / 40%);
	transform: scale(1.015, 1.015);
    transition: all 0.02s ease 0s;
}

/* .ajax:visited{ */
/*     background-color: #00c8ff; */
/* 	border-radius: 15px; */
/* 	-webkit-transition: all 1s ease 0s; */
/*     -moz-transition: all 1s ease 0s; */
/*     -ms-transition: all 1s ease 0s; */
/*     -o-transition: all 1s ease 0s; */
/*     transition: all 1s ease 0s; */
/* } */

.ajax:disabled{
	background-color: #b7c7c9;
	color: #dcdada;
    pointer-events: none;
    
	-webkit-transition: all 1.0s ease 0s;
    -moz-transition: all 1.0s ease 0s;
    -ms-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
    transition: all 1.0s ease 0s;
}

.account-popup > form .cfield input:disabled{
    background-color: #dbdbdb;
    border-radius: 8px;
    pointer-events: none;
	-webkit-transition: all 1.0s ease 0s;
    -moz-transition: all 1.0s ease 0s;
    -ms-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
    transition: all 1.0s ease 0s;
}

.checkInput {
	font-weight: 600;
	margin-bottom: 20px;
	-webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.account-popup select {
	float: left;
    width: 100%;
    height: 61px;
    padding: 0 15px;
    border: 2px solid #e8ecec;
    font-size: 13px !important;
    color: #888888;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.checkFont {
	display: block;
	margin: auto;
	color: #ffffff;
	height: 0px;
	-webkit-transition: all 1.0s ease 0s;
    -moz-transition: all 1.0s ease 0s;
    -ms-transition: all 1.0s ease 0s;
    -o-transition: all 1.0s ease 0s;
    transition: all 1.0s ease 0s;
}

.account-popup p {
	text-align: left;
}

.withdrawal-submit {
    background-color: #ff1818;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    padding: 5px 15px 5px 15px;
}

.withdrawal-submit:hover {
    background-color: #ffffff;
    color: #ff1818;
    border: 2px solid #ff1818;
    border-radius: 15px;
    
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.withdrawal-submit:active {
    background-color: #ffffff;
    color: #ff1818;
    border: 2px solid #ff1818;
    border-radius: 15px;
    
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.account-popup > form .cfield input:focus {
	border-radius: 5px;
    border: 3px solid #61c1ff !important;
}
