@media (max-width:600px) {
	.herf {
		font-size: 6px;
	}
	
	.trading-table{
		width:100%;
		overflow-x:auto !important;
		float: left;
	}
	
	.trading-table:after{
		font-size: 10px;
	    color: #666666;
	    opacity: 0.5;
	    /* margin-top: 10px; */
	    content: "양쪽으로 스크롤이 가능합니다.";
	    /* padding: 0px; */
	    float: left;
	    margin: 10px 0px 10px 10px;
	}
	
	.trading-table th, .trading-table td, .trading-table tr {
		min-width: 120px;
	}
	
	.top-menu-children {
	    color: #ffffff;
	    font-weight: 500;
	    font-size: 14px;
	    padding-left: 30px;
	    padding-top: 40px;
	    padding-bottom: 25px;
	    margin-bottom: 0px;
	}
	
	.account-btns > li a {
	    font-size: 8px;
	}
	
	.account-btns .la {
		 font-size: 8px !important;
		 line-height: 0 !important;
	}
	
	.trading-qr {
		width: 250px;
		height: 250px;
	}
	
	.login-qr {
		width: 250px;
		height: 250px;
	}
	
/* 		table, thead, tbody, th, td, tr {  */
/* 		display: block;  */
/* 	} */
	
/* 	/* Hide table headers (but not display: none;, for accessibility) */ */
/* 	thead tr {  */
/* 		position: absolute; */
/* 		top: -9999px; */
/* 		left: -9999px; */
/* 	} */
	
/* 	tr { border: 1px solid #ccc; } */
	
/* 	td {  */
/* 		Behave  like a "row" */
/* 		border: none; */
/* 		border-bottom: 1px solid #eee;  */
/* 		position: relative; */
/* 		padding-left: 50%;  */
/* 	} */
	
/* 	td:before {  */
/* 		Now like a table header */
/* 		position: absolute; */
/* 		Top/left values mimic padding */
/* 		top: 6px; */
/* 		left: 6px; */
/* 		width: 45%;  */
/* 		padding-right: 10px;  */
/* 		white-space: nowrap; */
/* 	} */
}

.trading-table table {
	width: 100%;
	border: solid 2px #00a0e9 !important;
}

.trading-table tr, td {
	text-align: center;
	color: #005688;
	border: solid 2px #00a0e9 !important;
	padding: 6px 7px 6px 7px;
	border-left: none;
	border-right: none;
	max-height: 100px;
}

.trading-table th {
	text-align: center;
	background: #00a0e9;
	color: #ffffff;
	border: solid 2px #00a0e9 !important;
	padding: 3px 5px 3px 5px;
	font-weight: 700;
	max-height: 60px;
}

.trading-row h4, h3 {
	margin: 50px 0px 20px 0px;
	color: #0e6eb8;
}

.trading-table .herf {
	color: #0e6eb8;
	text-decoration: underline;
}

.trading-qr-btn {
	background-color: #0e6eb8;
	color: #ffffff;
	padding: 6px 13px 6px 13px;
	border: 0;
	border-radius: 8px;
}

.trading-qr-btn:hover {
	background-color: #6cb1e6;
	padding: 6px 13px 6px 13px;
	border-radius: 8px;
	
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.trading-qr-btn:active {
	background-color: #ffffff;
	color: #0e6eb8;
	padding: 6px 13px 6px 13px;
	border: solid 2px #0e6eb8;
	border-radius: 8px;
	
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.mypage-row .box {
	text-align: center;
}

.mypage-row .box p {
	margin: 60px 0px 20px 0px;
}

.mypage-row .box .mypage-button {
	background-color: #00a0e9;
	color: #ffffff;
	border: 0;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	margin: 0px 0px 60px 0px;
}

.mypage-row .box .mypage-button:hover{
	background-color: #0e6eb8;
	color: #ffffff;
	border: 0;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	margin: 0px 0px 60px 0px;
	
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.mypage-row .box .mypage-button:active{
	background-color: #0e6eb8;
	color: #ffffff;
	border: 0;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	margin: 0px 0px 60px 0px;
	box-shadow: 0px 15px 15px rgb(0 0 0 / 40%);
}

.mypage-row .box .withdrawal-button {
	background-color: #ff1818;
	color: #ffffff;
	border: 0;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	margin: 0px 0px 60px 0px;
}

.mypage-row .box .withdrawal-button:hover {
	background-color: #b90000;
	color: #ffffff;
	border: 0;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	margin: 0px 0px 60px 0px;
	
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.mypage-row .box .withdrawal-button:avtive {
	background-color: #b90000;
	color: #ffffff;
	border: 0;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	margin: 0px 0px 60px 0px;
	box-shadow: 0px 15px 15px rgb(0 0 0 / 40%);
}

.login-qr {
	display: block;
	margin: auto;
}

.trading-qr {
	display: block;
	margin: auto;
}

.qr-timer {
	font-size: 30px;
	text-align: center;
	color: #ff1818; 
}

.modal {
       text-align: center;
}
 
@media screen and (min-width: 768px) { 
        .modal:before {
                display: inline-block;
                vertical-align: middle;
                content: " ";
                height: 100%;
        }
}
 
.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.account-popup {
	margin-top: 0px !important;
	padding-top: 0px !important;
}

