.title h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: #1666ba;
}

a.id {
	color: #ffffff !important;
    margin-right: 20px !important;
    font-weight: 600 !important;
    font-size: 16px !important;
    background : none !important;
}

a.id::before{
	float:left;
	margin-right: 10px;
 	content:"";
 	background-image: url('../../customimages/off.png');
 	background-size:20px 20px;
    width:20px;
    height:20px;
}

.la{
	color: #ffffff;
    font-size: 20px;
    line-height: 2;
}

header.style4 {
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    background: linear-gradient( 45deg, rgb(115 204 255) 0%,rgb(0 67 255) 71%,rgb(0 22 184) 100%)!important;
	z-index:11;
}

.simple-header {
 	position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    background: linear-gradient( 45deg, rgb(115 204 255) 0%,rgb(0 67 255) 71%,rgb(0 22 184) 100%)!important;
	float: left;
    width: 100%;
    height:115.4px;
    z-index: 10;
}

.simple-header .row {
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

.open-menu {
	color: #ffffff;
    padding-top: 17px;
    padding-bottom: 42px;
    margin-right: 50px;
    font-weight: 600;
    font-size: 18px;
}

.open-menu:hover {
	color: #ffffff;
}

.top-menu {
	border-top: 1px solid #c0c0c0; 
	border-bottom: 1px solid #c0c0c0; 
	visibility: hidden;
	opacity: 0;
 	position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 115.4px !important;
    background: #1666ba;
	float: left;
    width: 100%;
    height:0px;
    z-index: 10;
    
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.menu-sec nav > ul > li {
    float: left;
    position: relative;
    margin: 0;
    right: 30%;
}

.top-menu-children {
	color: #e0ecff;
    font-weight: 500;
    font-size: 18px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

.top-menu-children:hover {
	font-weight: 900;
	color: #ffffff;
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.top-hidden {
	-webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
