.payment-button {
    float: right;
    width: 90%;
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    background: #e81f15;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    padding: 10px 20px;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: bold;
}
.payment-button:hover {
    background: #ffffff;
    border-color: #ffffff;
    color: #e81f15;
}
.button-custom {
    float: right;
    width: 90%;
    border: 2px solid #ffffff;
    text-align: center;
    color: #ffffff;
    background: #00a0e9;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    padding: 10px 20px;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: bold;
}
.button-custom:hover {
    background: #ffffff;
    border-color: #00a0e9;
    color: #00a0e9;
}
.button-custom2 {
    float: right;
    font-size: 15px;
    background: #00a0e9;
    color: #ffffff;
    padding: 15px 28px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-top: 10px;
}
.button-custom2:hover{
    background: #ffffff;
    color: #00a0e9;
}
.board-photo > img {
    float: left;
    width: 100%;
    margin: 20px 0px 30px 0px;
    
    box-shadow: 0px 7px 15px 0px rgb(0 0 0 / 30%);
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.button-custom2,
.button-custom,
.payment-button{
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}