<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.nftf.board.BoardMapper">
	<resultMap id="boardResultMap"
	type="kr.co.nftf.board.Board">
		<result column="NO" property="no" />
		<result column="USER_ID" property="userId" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="PRICE" property="price" />
		<result column="DIVISION" property="division" />
		<result column="TRADE_WAY" property="tradeWay" />
		<result column="STATUS" property="status" />
		<result column="REGISTRATE_DATE" property="registrateDate" />
	</resultMap>
	
	<sql id="whereSql">
        <where>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="userId != null and userId != ''">
                AND USER_ID = #{userId}
            </if>
            <if test="title != null and title != ''">
                AND TITLE = #{title}
            </if>
            <if test="content != null and content != ''">
                AND CONTENT = #{content}
            </if>
            <if test="price != null and price != ''">
                AND PRICE = #{price}
            </if>
            <if test="division != null and division != ''">
                AND DIVISION = #{division}
            </if>
            <if test="tradeWay != null and tradeWay != ''">
                AND TRADE_WAY = #{tradeWay}
            </if>
            <if test="status != null and status != ''">
                AND STATUS = #{status}
            </if>
            <if test="registrateDate != null">
                AND REGISTRATE_DATE = #{registrateDate}
            </if>
        </where>
    </sql>
    
    <select id="count" parameterType="kr.co.nftf.board.Board" resultType="int">
        SELECT COUNT(*)
        FROM board
        <include refid="whereSql" />
    </select>
	
	<select id="list" parameterType="kr.co.nftf.board.Board" resultMap="boardResultMap">
        SELECT
            NO,
            USER_ID,
            TITLE,
            CONTENT,
            PRICE,
            DIVISION,
            TRADE_WAY,
            STATUS,
            REGISTRATE_DATE
        FROM board
            <include refid="whereSql" />
        
    </select>
	
	<select id="select" parameterType="kr.co.nftf.board.Board" resultMap="boardResultMap">
        SELECT *
        FROM BOARD
        <include refid="whereSql" />
    </select>
    
    <select id="searchResult" parameterType="kr.co.nftf.board.Board" resultMap="boardResultMap">
        SELECT
            NO,
            USER_ID,
            TITLE,
            CONTENT,
            PRICE,
            DIVISION,
            TRADE_WAY,
            STATUS,
            REGISTRATE_DATE
        FROM board
        WHERE TITLE LIKE CONCAT('%', #{keyword}, '%')
    </select>
    
    <insert id="insert" parameterType="kr.co.nftf.board.Board">
        INSERT INTO board (
            					NO
            					,USER_ID
            					,TITLE
            					,CONTENT
            					,PRICE
            					,DIVISION
            					,TRADE_WAY
            					,STATUS
            					,REGISTRATE_DATE
        ) VALUES (
            #{no}
            , #{userId}
            , #{title}
            , #{content}
            , #{price}
            , #{division}
            , #{tradeWay}
            , #{status}
            , #{registrateDate}
        )
    </insert>
    
    <!-- update는 구현할 때 좀 더 생각해야할 듯 - title,price,content 도 수정이 가능한가? -->
    
    <update id="update" parameterType="kr.co.nftf.board.Board">
        UPDATE board
        <set>
            <if test="content != ''">
                CONTENT = #{content},
            </if>
            <if test="status != '' and status != null">
                STATUS = #{status},
            </if>
        </set>
        WHERE NO = #{no}
    </update>

    <delete id="delete" parameterType="kr.co.nftf.board.Board">
        DELETE FROM board
        <include refid="whereSql" />
    </delete>
    
    <select id="listPage" parameterType="int" resultType="kr.co.nftf.board.Board">
		SELECT
			NO
            ,USER_ID
            ,TITLE
            ,CONTENT
            ,PRICE
            ,DIVISION
            ,TRADE_WAY
            ,STATUS
            ,REGISTRATE_DATE
		FROM BOARD
		ORDER BY NO DESC
		LIMIT #{displayPost}, #{postNum}
	</select>
</mapper>