<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.nftf.branch.BranchMapper">
		<resultMap id="branchResultMap"
	type="kr.co.nftf.branch.Branch">
		<result column="CODE" property="code" />
		<result column="NAME" property="name" />
		<result column="LATITUDE" property="latitude" />
		<result column="LONGITUDE" property="longtitude" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<sql id="whereSql">  
			<where>
			<if test="code != null and code != ''">
				AND CODE = #{code}
			</if>
			<if test="name != null and name != ''">
				AND NAME = #{name}
			</if>
			<if test="latitude != null and latitude != ''">
				AND LATITUDE = #{latitude}
			</if>
			<if test="longtitude != null and longtitude != ''">
				AND LONGITUDE = #{longtitude}
			</if>
			<if test="status != null and status != ''">
				AND STATUS = #{status}
			</if>
		</where>
	</sql>
	
	<insert id="insert" parameterType="kr.co.nftf.branch.Branch">
		INSERT INTO BRANCH (
		CODE,
		NAME,
		LATITUDE,
		LONGITUDE,
		STATUS
		) VALUES (
		#{code},
		#{name},
		#{latitude},
		#{longtitude},
		#{status}
		)
	</insert>
	
	<update id="update" parameterType="kr.co.nftf.branch.Branch">
		UPDATE BRANCH
		<set>
			<if test="code != null">
				ID = #{code},
			</if>
			<if test="name != null">
				ID = #{name},
			</if>
			<if test="latitude != null">
				ID = #{latitude},
			</if>
			<if test="longtitude != null">
				ID = #{longtitude},
			</if>
			<if test="status != null">
				ID = #{status},
			</if>
		</set>
	</update>
	
	<select	id="select" parameterType="kr.co.nftf.branch.Branch" resultMap="branchResultMap">
		SELECT
			CODE,
			NAME,
			LATITUDE,
			LONGITUDE,
			STATUS
		FROM BRANCH
		<include refid="whereSql" />
	</select>
	
	<select	id="selectAll" parameterType="kr.co.nftf.branch.Branch" resultMap="branchResultMap">
		SELECT *
		FROM BRANCH
		<include refid="whereSql" />
	</select>
	
	<delete id="delete" parameterType="kr.co.nftf.branch.Branch">
		DELETE FROM BRANCH
		<include refid="whereSql" />
	</delete>
</mapper>