<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.nftf.reply.ReplyMapper">
	<resultMap id="replyResultMap" type="kr.co.nftf.reply.Reply">
		<result column="BOARD_NO" property="boardNo" />
		<result column="NO" property="no" />
		<result column="USER_ID" property="userId" />
		<result column="CONTENT" property="content" />
		<result column="REGISTRATE_DATE" property="registrateDate" />
		<result column="EDIT_STATUS" property="editStatus" />
	</resultMap>
	
		<sql id="whereSql">
        <where>
            <if test="boardNo != null and boardNo != ''">
                AND BOARD_NO = #{boardNo}
            </if>
            <if test="no != null and no != ''">
                AND NO = #{no}
            </if>
            <if test="userId != null and userId != ''">
                AND USER_ID = #{userId}
            </if>
            <if test="content != null and content != ''">
                AND CONTENT = #{content}
            </if>
            <if test="registrateDate != null and registrateDate != ''">
                AND REGISTRATE = #{registrateDate}
            </if>
            <if test="editStatus != null and editStatus != ''">
                AND EDIT_STATUS = #{editStatus}
            </if>
        </where>
    </sql>
    
    <select id="count" parameterType="kr.co.nftf.reply.Reply" resultType="int">
        SELECT COUNT(*)
        FROM reply
        <include refid="whereSql" />
    </select>
	
	<select id="selectList" parameterType="kr.co.nftf.reply.Reply" resultMap="replyResultMap">
        SELECT
            BOARD_NO,
            NO,
            USER_ID,
            CONTENT,
            REGISTRATE_DATE,
            EDIT_STATUS
        FROM reply
            <include refid="whereSql" />
        
    </select>
	
	<select id="select" parameterType="kr.co.nftf.reply.Reply" resultMap="replyResultMap">
        SELECT
            BOARD_NO,
            NO,
            USER_ID,
            CONTENT,
            REGISTRATE_DATE,
            EDIT_STATUS
        FROM reply
        <include refid="whereSql" />
    </select>
    
    <insert id="insert" parameterType="kr.co.nftf.reply.Reply">
        INSERT INTO REPLY (
        	BOARD_NO,
        	NO,
            USER_ID,
            CONTENT,
            REGISTRATE_DATE,
            EDIT_STATUS
        ) VALUES (
            #{boardNo}
            , #{no}
            , #{userId}
            , #{content}
            , #{registrateDate}
            , #{editStatus}
        )
    </insert>
    
    <update id="update" parameterType="kr.co.nftf.reply.Reply">
        UPDATE reply
        <set>
            <if test="content != ''">
                CONTENT = #{content},
            </if>
        </set>
        <include refid="whereSql" />
    </update>

    <delete id="delete" parameterType="kr.co.nftf.reply.Reply">
        DELETE FROM reply
        <include refid="whereSql" />
    </delete>
</mapper>