<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.nftf.tradingbox.TradingBoxMapper">
		<resultMap id="tradingBoxResultMap"
	type="kr.co.nftf.tradingbox.TradingBox">
		<result column="BRANCH_CODE" property="branchCode" />
		<result column="NO" property="no" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="STATUS" property="status" />
		<result column="AD_WORD" property="adWord" />
		<result column="AUTH_KEY" property="authKey" />
		<result column="AUTH_KEY_DATE" property="authKeyDate" />
	</resultMap>
	
		<sql id="whereSql">  
			<where>
			<if test="branchCode != null and branchCode != ''">
				AND BRANCH_CODE = #{branchCode}
			</if>
			<if test="no != 0">
				AND NO = #{no}
			</if>
			<if test="boardNo != 0">
				AND BOARD_NO = #{boardNo}
			</if>
			<if test="status != null and status != ''">
				AND STATUS = #{status}
			</if>
			<if test="adWord != null and adWord != ''">
				AND AD_WORD = #{adWord}
			</if>
			<if test="authKey != null and authKey != ''">
				AND AUTH_KEY = #{authKey}
			</if>
			<if test="authKeyDate != null and authKeyDate != ''">
				AND AUTH_KEY_DATE = #{authKeyDate}
			</if>
		</where>
	</sql>
	
	<insert id="insert" parameterType="kr.co.nftf.tradingbox.TradingBox">
		INSERT INTO TRADING_BOX (
		BRANCH_CODE,
		NO,
		BOARD_NO,
		STATUS,
		AD_WORD,
		AUTH_KEY,
		AUTH_KEY_DATE,
		) VALUES (
		#{branchCode},
		#{no},
		#{boardNo},
		#{status},
		#{adWord},
		#{authKey},
		#{authKeyDate}
		)
	</insert>
	
	<update id="update" parameterType="kr.co.nftf.tradingbox.TradingBox">
		UPDATE TRADING_BOX
		<set>
			<if test="branchCode != null">
				ID = #{branchCode},
			</if>
			<if test="no != null">
				ID = #{no},
			</if>
			<if test="boardNo != null">
				ID = #{boardNo},
			</if>
			<if test="logtitude != null">
				ID = #{logtitude},
			</if>
			<if test="status != null">
				ID = #{status},
			</if>
			<if test="adWord != null">
				ID = #{adWord},
			</if>
			<if test="authKey != null">
				ID = #{authKey},
			</if>
			<if test="authKeyDate != null">
				ID = #{authKeyDate},
			</if>
		</set>
	</update>
	
	<select	id="select" parameterType="kr.co.nftf.tradingbox.TradingBox" resultMap="tradingBoxResultMap">
		SELECT
			BRANCH_CODE,
			NO,
			BOARD_NO,
			STATUS,
			AD_WORD,
			AUTH_KEY,
			AUTH_KEY_DATE,
		FROM TRADING_BOX
		<include refid="whereSql" />
	</select>
	
	<select	id="selectAll" parameterType="kr.co.nftf.tradingbox.TradingBox" resultMap="tradingBoxResultMap">
		SELECT *
		FROM TRADING_BOX
		<include refid="whereSql" />
	</select>
	
	<delete id="delete" parameterType="kr.co.nftf.tradingbox.TradingBox">
		DELETE FROM TRADING_BOX
		<include refid="whereSql" />
	</delete>
</mapper>