<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.nftf.trading.TradingMapper">
		<resultMap id="tradingResultMap"
	type="kr.co.nftf.trading.Trading">
		<result column="BOARD_NO" property="boardNo" />
		<result column="PRICE" property="price" />
		<result column="BUYER_ID" property="buyerId" />
		<result column="SELLER_ID" property="sellerId" />
		<result column="STATUS" property="status" />
		<result column="TRADE_DATE" property="tradeDate" />
	</resultMap>
</mapper>