/*------------------------------------------------------------------
Background Color
-------------------------------------------------------------------*/
.bg-color,
.account-popup > form button,
.layer.color::before,
.pricetable > a,
.pricetable.active,
.bottom-line.style2{
   background: linear-gradient(45deg, rgb(20 200 255) 0%, rgb(0 160 233) 20%,rgb(11 147 226) 44%,rgba(20,31,114,1) 100%);
    position: relative;
}

.bottom-line.style2:before{
   content: "";
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
    background-image: url(../../customimages/top-bar6.jpg);
    background-size: 25%;
    background-position: 35% 40%;
    opacity: 0.15;
    filter: brightness(100%);
}


/*------------------------------------------------------------------
Text Color
-------------------------------------------------------------------*/
.text-color,
.pricetable-head h2,
.pricetable.active > a{
    color: #141f72;
}

/*------------------------------------------------------------------
Border Color
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
COLOR SCHEME 2
-------------------------------------------------------------------*/

.forsticky.sticky .post-job-btn{
	border: 2px solid #0053e3;
	background: transparent; color: #0053e3;
}
.post-job-btn{
    background-color: #0053e3 ; border: 2px solid #0053e3;
}


.bg-color,
.post-job-btn,
.account-popup .close-popup,
.blog-metas a::before{
    background-color: #0053e3 ;
}

/*------------------------------------------------------------------
Text Color
-------------------------------------------------------------------*/
.text-color,
.menu-sec nav > ul > li > ul li:hover > a,
.account-popup > form .cfield i,
.account-popup > form > a,
.chosen-container-single .chosen-single div::before,
.job-field i,
.chosen-container .chosen-results li.highlighted,
.active-result.result-selected,
.scroll-to a,
.p-category > a p,
.p-category:hover i,
.job-title-sec span,
.blog-metas a,
.blog-details > a{
    color: #0053e3 ;
}

/*------------------------------------------------------------------
Border Color
-------------------------------------------------------------------*/
.border-color,
.select-user > span.active,
.browse-all-cat a{
    border-color: #0053e3 ;
}


